@import '../styles/shared';

.header {
  display: grid;
  grid-template-columns: 1fr;
  gap: $spacing-sm;
  margin-bottom: $spacing-md;

  > nav {
    grid-row: 2;
  }

  .controls {
    display: flex;
    grid-row: 1;
    align-items: center;
    justify-content: flex-end;
    gap: $spacing-sm;
  }

  @media (min-width: $breakpoint-mobile) {
    grid-template-columns: minmax(0, 1fr) auto;
    align-items: center;

    > nav,
    .controls {
      grid-row: 1;
    }

    .controls {
      justify-content: initial;
    }
  }
}
