@import '../styles/shared';

.card {
  border: 1px solid $color-border;
  padding: $spacing-md;
  background: $color-white;
  margin: 0;
  min-width: 0;

  blockquote {
    font-size: 1.25rem;
    line-height: 1.6;
  }

  img {
    max-width: 100px;
    border-radius: $border-radius-md;
    margin-bottom: 10px;
  }
}

.sourceLine {
  color: $color-text-light;
  font-size: $font-size-small;
}

.originalTitle {
  font-style: italic;
  opacity: 0.8;
}

.originalQuote {
  margin-top: 1rem;
  font-size: $font-size-medium;
  color: $color-text-light;
  font-style: italic;
}
